# LaTeX intermediate files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.bbl
*.bcf
*.blg
*.run.xml
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm

# Editor-specific
*.swp
*.bak
*.backup
*~
.#*

# MacOS-specific
.DS_Store

# Temporary folders
_build/
latex.out/
